__pycache__
.env
.history
.hypothesis/
build/
reports/
.DS_Store
.pytest_cache
img/
metadata/*
!metadata/nft-spreadsheet-data.xlsx
!metadata/logo.png
hashlips_art_engine/layers/*
!hashlips_art_engine/layers/.ignore_this_file
