### Don't uncomment if you don't know what they do!
# export PRIVATE_KEY_TEST=asafdagadd
# export WEB3_INFURA_PROJECT_ID=asdfsdf
# export WEB3_ALCHEMY_PROJECT_ID=asdsfadd
# export ETHERSCAN_TOKEN=asdfasdfasdf
# export UPLOAD_IPFS=true
# export PINATA_API_KEY_TEST='asdfasdfs'
# export PINATA_API_SECRET_TEST='asdfasdfsdf'
